sudo: required

dist: trusty

language: node_js

node_js:
  - "10"
install:
  - npm install
env:
  - TASK=test
matrix:
  fast_finish: true
  allow_failures:

script:
  - npm run deploy

notifications:
  email: false

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: deploy
