.cmp-address-wrapper {
  height: 60px;
  width: 100%;
}

.cmp-address {
  border-radius: 6px;
  border: 1px solid transparent;
  background: #fff;
  position: relative;
  height: 42px;
  transition: 0.2s;
}

.cmp-address .input-wrapper {
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.cmp-address .info-wrapper {
  margin: 0 0 0 50px;
}

.cmp-address .info-wrapper .resolved {
  position: absolute;
  top: 30px;
  width: calc(100% - 100px);
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
}

.cmp-address .loader {
  margin: 0 20px 0 0;
}

.cmp-address .indicator {
  /* width: 60px;
  height: 40px; */
  position: absolute;
  left: 0;
  top: 0;
}

.cmp-address .loader .lds-dual-ring,
.cmp-address .loader .lds-dual-ring > div,
.cmp-address .icon-wrapper {
  height: 40px !important;
  width: 40px !important;
}

.cmp-address.error {
  border-color: red;
}

.cmp-address input {
  width: calc(100% - 70px);
  font-family: Overpass Mono;
  font-weight: 300;
  font-size: 18px;
  margin-left: 50px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  position: relative;
  outline: none;
  color: #333;
}

.cmp-address.resolved {
  height: 60px;
}

.cmp-address.small {
  padding: 10px 5px;
}

.cmp-address.small input {
  font-size: 14px;
  font-family: Overpass;
}

.cmp-address .loader .lds-dual-ring,
.cmp-address .loader .lds-dual-ring > div,
.cmp-address .icon-wrapper,
.cmp-address.small .indicator .blockies {
  height: 30px !important;
  width: 30px !important;
}

.cmp-address .blockies {
  /* margin-left: 10px;
  margin-top: 10px; */
}

.cmp-address .indicator {
  margin-left: 5px;
  margin-top: 5px;
}

.cmp-address.resolved .indicator {
  margin-left: 10px;
  margin-top: 10px;
}

.cmp-address.small.resolved input {
  top: -10px;
}

.cmp-address.small .info-wrapper {
  margin: 0 0 0 40px;
}

.cmp-address.small .info-wrapper .resolved {
  bottom: 2px;
  font-size: 12px;
  width: calc(100% - 50px);
}
